build
mx.scratch
.settings

# Specific files
.clangd
.mxproject
CMakePresets.json
startup_stm32f103xb.s
# CMake and VS Code local files
compile_commands.json
.cache/

# Build output (just in case they are generated in the root)
*.elf
*.bin
*.hex
*.map
